@model BLL_User.Model.UserDTO

@{
    ViewBag.Title = "ViewChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/ChangePass/css")
<h2>User Name : @Model.UserName</h2>
<div class="row">
    <div class="col-4">
        <form action="/User/ChangePass" method="post" id="formChangePassword">
            <input type="hidden" value="@Model.Id" name="UserId" />
            <div class="col-12">
                <label class="form-label"><sup>*</sup>Your Password:</label>
                <input class="form-control mb-2" type="password" name="password" tabindex="1" />
            </div>
            <div class="col-12">
                <label class="form-label"><sup>*</sup>New Password:</label>
                <input class="form-control mb-2" type="password" name="newPassword" id="newPass" tabindex="2" />
            </div>
            <div class="col-12">
                <label class="form-label"><sup>*</sup>Confirm Password:</label>
                <input class="form-control mb-2" type="password" name="confirmPassword" tabindex="3" />
            </div>
            <div class="col-6">
                <button class="btn btn-info" type="submit"><i class="far fa-save"></i> Save</button>
                <a href="/User/Index" class="btn btn-secondary btnEditCustom" id="btnBack"><i class="fas fa-sign-out-alt"></i>Close</a>
            </div>
        </form>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/ValidatePassword/Js")
    <script>


            const changeSuccess ='@TempData["ChangeSuccess"]';
            if (changeSuccess) {
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: changeSuccess,
                    showConfirmButton: false,
                    timer: 1500
                });
            }

            const changeFailed = '@TempData["ChangeFailed"]';
            if (changeFailed) {
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: changeFailed,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
    </script>


}

